body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
    overflow: hidden;
}

canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
    background: #70c5ce;
}

@media (orientation: landscape) {
    canvas {
        width: auto;
        height: 100vh;
    }
}

@media (orientation: portrait) {
    canvas {
        width: 100vw;
        height: auto;
    }
}




#emailForm {
    text-align: center;
    margin: 20px auto;
}

#leaderboardContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}