<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlappyBird</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
</head>
<body>
    <canvas id="canvas" width="800" height="600"></canvas>
    <input type="email" id="emailInput" placeholder="Enter your email" />
    <button id="emailSubmit">Submit</button>
   
    
    <!-- Add type="module" to use ES6 modules -->
    <script type="module" src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>